html{
	width:100%;
	height:100%;
	background-color:#333;
	font-family: 'Abel', sans-serif;
	font-size:20px;
	color:white;
}

body{
	width:100%;
	height:100%;
	padding-top:20px;
}

em{
	font-style: normal;
}

a{
	background-color:#333;
	color:cyan;
	
	text-decoration: none;
	padding:2px 8px;
	font-size:18px;
	line-height:30px;
}

a:hover{
	background-color:cyan;
	color:#333;
	
}

a.read_more, .work_teaser a{
	background-color:cyan;
	color:#333;
}

a.read_more:hover, .work_teaser a:hover{
	background-color:#333;
	color:cyan;
}

input,.select select {
	width:100%;
	height:40px;
	padding:0 5px 0 5px;
	color:#333;
	font-family: 'Abel', sans-serif;
	font-size:20px;
	margin-bottom:5px;
	background-color:white;
	border-radius:5px;
}
::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

:-ms-input-placeholder {  
   color: #333;  
}

.expiry{
	float:right;

}

.expiry .select,.expiry .select select,.expiry input{
	width:100px;
	display:inline-block;
}

.expiry > *{
	margin-left:10px;
}

form{
	margin-top:10px;
	
	margin-left:auto;
	margin-right: auto;

	position: relative;
}

hr{
	border-color:#666;
}

button{
	font-family: 'Abel', sans-serif;
	font-size:20px;
	padding:10px;
	background-color:cyan;
	border:0;
	position:absolute;
	right:0;
	text-transform: uppercase;


}

button:hover{
	background-color:#444;
	color:cyan;
}

#waiting_screen{
	position: fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	top:0;
	left:0;
}

#waiting_screen .content{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:100px;
	background-color:#333;
	text-align: center;
	border-radius:5px;
	padding:5px 10px;

}

.input_error{
	border:3px solid rgba(255,0,0,0.5) !important;
}

.read_more,.read_less{
	position:absolute;
	right:0px;
	bottom:0px;
}

.read_less{
	right:1px;
	bottom:1px;
}

.hidden{
	display: none;
}

h1, p.top_text, .content p{
	padding:7px 10px;
}

.bordered_box{
	border:solid white 1px;
	color:white;
	padding:7px 10px;
}

.content{
	padding-bottom:10px;
}

.content a.external_link{
	margin:7px 10px;
}


#main{
	display:block;
	width:450px;
	margin-left:auto;
	margin-right:auto;
}

.topic .header{
	width:540px;
	border-style:solid;
	border-top-width: 1px;
	height:30px;
	margin-bottom:10px;
	position:relative;
}

p em{
	display:block;
}

p.top_text,.work_item .content, .topic .content{
	border:solid white 1px;
	color:white;
}

.topic .header h2{
	text-align:center;
	text-transform: uppercase;

}

.contact .header{
	border-color:#FF00CC;
}

.contact .header h2{
	color:white;
	background-color:#FF00CC;
}

.contact .header h2::before{
	background-color: #FF00CC;
}

.contact_details{
	margin-top:15px;
	width:95%;
	margin-left:auto;
	margin-right: auto;
	color:white;
	font-size:18px;
	text-transform: uppercase;

}

.contact_details > div{
	height:36px;
	margin-bottom:5px;
}

.contact_details .last{
	margin-bottom:0px;
}

.contact_detail_header{
	padding:7px 10px;
	width:30%;
	background-color: #FF00CC;
	display:inline-block;

}
.contact_detail_value{
	padding:6px 10px;
	width:70%;
	display: inline-block;
	text-align:right;
	background-color:transparent;
	border:1px solid #FF00CC;
}

.contact_detail_value a{
	line-height: inherit;
	color:white !important;
}
.contact_detail_value a:hover{
	color:#333 !important;
}

.work .header{
	border-color:#FFCC00;
}

.work .header h2{
	color:#333;
	background-color:#FFCC00;
}

.work .header h2::before{
	background-color: #FFCC00;

}

.work_item h3{
	padding:10px;
	background-color:#FFCC00;
	width:100%;
	color:#333;
	height:50px;
}

.work h3 em{
	font-style:italic;
	text-transform: uppercase;
}

.work_item h3::before{
	background-color:#FFCC00;
	content: '';
    height: 50px;
    width: 12px;
    position: absolute;
    top:0;
    left:0;

    transform-origin: top;
    -webkit-transform-origin: 0 0;

    -webkit-transform:skewX(-10deg);
       -moz-transform:skewX(-10deg);
         -o-transform:skewX(-10deg);
        -ms-transform:skewX(-10deg);
            transform:skewX(-10deg);
}

.work_item{
	margin-top:25px;
	position:relative;
}

.work_item .content{
	border-top:0;
}

.content p{
	margin-bottom:15px;
}

.content img{
	width:100%;
}


.content p em{
	color:#fc0;
	display:inline;
}

.work_item .roles{
	text-transform: uppercase;
	font-size:15px;
	color:#999;
	margin-top:8px;
}

.work_item .teaser{
	background-color:white;
	padding:5px 2px 5px 10px;
}

.work_item .content{
	font-size:18px;
}

.work_item .teaser h4{
	color:#666;	
	font-size:18px;
}
.work_teaser{
	width:95%;
	margin-left:auto;
	margin-right:auto;
}

.work_teaser h3{
	margin-top:15px;
	background-color:transparent;
	color:white;
	padding:0;
}

.work_teaser p{
	background-color:white;
	color:#999 !important;
	margin-top:5px;
	font-size:17px;
	border:0;
	padding:5px 2px 5px 10px;

}
.about{
	padding-bottom:20px;
}
.about .content{
	margin-bottom:15px;
}
.about .header{
	border-color:#00FFFF;
}

p.ending{
	font-size:16px;
	color:#ccc;
}

p.ending a{
	line-height: initial;
	padding:0;
	font-size:16px;
}

@media (max-width: 680px) {
	.topic .header{
		width:100%;
	}
}

@media (max-width: 480px) {
	.work_item h3::before{
		display:none;
	}

	#main{
		width:100%;
		padding:0 10px 0 10px;
	}

	.source_name{
		display:none;
	}
}
